body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 300px;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
    white-space: nowrap;
}

input[type=number] {
    width: auto;
    padding: 5px;
    margin-left: 10px;
    flex-grow: 1;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#generatedUrl {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#copyButton {
    width: 100%;
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
}

#copyButton:hover {
    background-color: #007BA7;
}
